.swiper-button-next::after,
.swiper-button-prev::after {
	content: none !important;
}

.swiper-button-next,
.swiper-button-prev {
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 100%;
		height: 100%;
	}
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background: red;
	color: white;
}

.swiper-pagination-bullet-active {
	background: white;
}
